<footer class="footer">
    <div class="footer-content container columns">
        <div class="is-4 column">
            <h5 class="is-size-5">Разделы</h5>
            <div><a href='/'>Главная</a></div>
            <div><a href='/gallery'>Галлерея</a></div>
            <div><a href='/tree'>Род</a></div>
        </div>

        <div class="is-4 column">
            <div>К 100-летию дедушки</div>
            &nbsp;
        </div>

        <div class="is-4 column">
            <h5 class="is-size-5">Внуки</h5>
            <div><a href='mailto: a.umurzakov@gmail.com'>Aziz Umurzakov</a></div>
            <div><a href='mailto: temir@umurzakov.com'>Temir Umurzakov</a></div>
            <div>2021 г.</div>
        </div>
    </div>
</footer>
