<div class ="gallary container">
    <div class="tile is-ancestor">
        {% assign sorted = site.static_files | sort: 'date' | reverse %}

        <div class="tile is-vertical is-4">
        {% for file in sorted %}
            {% assign col=forloop.index|modulo:3 %}
            {% if file.extname == '.JPG' and col == 0 %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                <div class="tile">
                    <div class="image">
                        <img src="/assets/thumbs/{{file.name}}"
                             alt="{{ filename }}"  class="img-gallery" />
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="tile is-vertical is-4">
        {% for file in sorted %}
            {% assign col=forloop.index|modulo:3 %}
            {% if file.extname == '.JPG' and col == 1 %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                <div class="tile">
                    <div class="image">
                        <img src="/assets/thumbs/{{file.name}}"
                             alt="{{ filename }}"  class="img-gallery" />
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <div class="tile is-vertical is-4">
        {% for file in sorted %}
            {% assign col=forloop.index|modulo:3 %}
            {% if file.extname == '.JPG' and col == 2 %}
                {% assign filenameparts = file.path | split: "/" %}
                {% assign filename = filenameparts | last | replace: file.extname,"" %}
                <div class="tile">
                    <div class="image">
                        <img src="/assets/thumbs/{{file.name}}"
                             alt="{{ filename }}"  class="img-gallery" />
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
