<section class="header">

    <div class="container">

        <div class="columns header__content">
            <div class="portrait is-third column">
                <figure class="image portrait__image">
                    <img src="/assets/images/portrait.png">
                </figure>
            </div>

            <div class="description is-two-thirds column">

                <div class="description__body">
                    <h1 class="description__title">Садыбакас Умурзаков</h1>

                    <div class="description__text">Садыбакас Өмүрзаков (орусча: Садыбакас Умурзаков; 1921-жылдын 25-мартында туулган – 2002-жылы августта өлгөн) – Кыргызстандагы таанымал илимпоз, география илимдеринин кандидаты (1958-жыл), картография жана географиялык ачылыштар тарыхы боюнча ири адис, географ-окумуштуу.</div>
                </div>

            </div>
        </div>
    </div>

</section>
