<script src="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/treant-js/1.0/Treant.css"></link>

<div id="tree"></div>

<style>
.Сагын > p,
.Жанызак > p,
.Омурзак > p,
.Шайын > p,
.Кайык > p,
.Садыбакас > p,
.Болот > p,
.Кубат > p,
.Мурат > p,
.Кыдыраалы > p,
.Суранаалы > p
{ min-width:120px; text-align: center; }
</style>

<script>
    var config = {
        chart: {
            container: '#tree',
            connectors: {type: 'step', stackIndent: 10},
            siblingSeparation: 5,
            levelSeparation: 20,
        },
        nodeStructure: getTreeData()
    };

    var chart = new Treant(config);
</script>
